h1{
    color:cyan;
    background-color: yellowgreen;
    text-align: center;
}

h2{
    color:green;
    background-color:bisque;
    text-align: center;
}
h3{
    color:blue;
    background-color:lightgray;
    text-align: center;
}