ul{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    background-color: cyan;
    flex-direction: row;
    padding: 20px;
}
Link{
    text-decoration: dashed;
}
.active-link{
    border: 2px solid greenyellow;
    background: gray;
}